/* Título e botão de adicionar item */
.details-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #6200ea;
    color: white;
    box-sizing: border-box;
}

.details-title button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* Estilo para a pilha de containers */
.details-container {
    width: 100%;
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 15%; /* Ajusta a altura de cada container */
}

/* Estilo do conteúdo dentro dos containers */
.details-container h3 {
    margin: 0;
    font-size: 9.6px; /* Reduzido em 60% do tamanho original (16px) */
    font-weight: bold;
    flex-shrink: 0;
}

.details-container span {
    font-size: 8.4px; /* Reduzido em 60% do tamanho original (14px) */
    margin-left: 10px;
    flex-grow: 1;
    text-align: left;
}

/* Estilo para o dropdown, pesquisa e seleção por categoria */
.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.filter-container select,
.filter-container input[type="text"] {
    padding: 5px;
    font-size: 10px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.filter-container select {
    width: 30%;
}

.filter-container input[type="text"] {
    width: 40%;
}

.filter-container button {
    padding: 5px 10px;
    font-size: 10px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.filter-container button:hover {
    background-color: #3700b3;
}

/* Estilo para garantir que o conteúdo dos containers esteja fixado logo abaixo do menu superior */
#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5px;  /* Mantenha o padding mínimo necessário */
    box-sizing: border-box;
    overflow-y: auto;
    height: calc(100vh - 120px); /* Ajuste a altura para compensar o tamanho do header */
    margin-top: 0; /* Verifique se não há margem superior que possa estar adicionando espaço extra */
}

#main-content .details-container {
    width: 100%; /* Garante que cada container ocupe 100% da largura */
}

/* Popup Estilos */
.popup {
    display: none;
    position: fixed;
    top: 50px; /* Alinha o topo do popup com o bottom do menu superior */
    left: 0%;
    transform: translateX(-50%); /* Centraliza horizontalmente */
    width: 100%; /* Reduz a largura */
    max-width: 350px; /* Ajusta a largura máxima para telas maiores */
    height: auto; /* Remove a altura fixa para que a altura se ajuste automaticamente */
    background-color: rgba(255, 255, 255, 1);
    z-index: 1003;
    justify-content: center;
    align-items: center;
    border-radius: 10px; /* Arredonda os cantos da popup */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra para um efeito de elevação */
    padding: 15px; /* Reduz o padding */
    box-sizing: border-box;
}

/* Conteúdo da Popup */
.popup-content {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
}

.popup-content h2 {
    font-size: 14px; /* Reduz o tamanho da fonte do título */
    margin-bottom: 10px;
}

.popup-content label {
    font-size: 12px; /* Reduz o tamanho da fonte dos labels */
}

.popup-content input[type="text"] {
    width: 100%;
    padding: 6px; /* Reduz o padding dos inputs */
    margin: 5px 0;
    font-size: 12px; /* Reduz o tamanho da fonte dos inputs */
    box-sizing: border-box;
}

#add-item-form button {
    width: 100%;
    padding: 8px; /* Reduz o padding do botão */
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* Reduz o tamanho da fonte do botão */
}

#add-item-form button:hover {
    background-color: #3700b3;
}

/* Close Button */
.close-popup {
    float: right;
    cursor: pointer;
    font-size: 20px; /* Reduz o tamanho da fonte do botão de fechar */
    margin-top: -10px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6200ea;
    color: white;
    padding: 10px; /* Mantenha o padding necessário */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box; /* Garante que o padding não afete a altura do header */
    margin-bottom: 0; /* Remova qualquer margem inferior, se houver */
}

header img {
    margin: 0 auto;
    margin-left: 28%;
    display: block;
}

header h1 {
    font-size: 18px;
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

#menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
}

#settings-icon {
    font-size: 38px;
    margin-right: 10px;
}

aside {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #6200ea;
    color: white;
    padding: 0px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    transition: left 0.3s ease;
    z-index: 1001;
    overflow-y: auto;
}

#close-sidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;

}

.user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p {
    margin: 0;
}

.user-profile a {
    font-size: 12px;
    color: #bbb;
    text-decoration: none;
}

.menu-group {
    margin-bottom: 15px;
}

.menu-group > span {
    font-weight: bold;
    cursor: pointer;
}

.menu-group ul {
    list-style: none;
    padding: 0;
    display: none; /* Esconde os subitens por padrão */
   list-style-type: none; /* Remove os bullets */
}

 

.menu-group ul li {
    margin: 10px 0;

}

.menu-group ul li a {
    color: white;
    text-decoration: none;
}

.menu-group ul li a:hover {
    text-decoration: underline;
}

.logout-button {
    width: 100%;
    padding: 10px;
    background-color: #ff3b3b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.logout-button:hover {
    background-color: #cc2d2d;
}

main {
    margin-top: 60px; /* Espaço reservado para o menu superior */
    flex-grow: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    overflow-y: auto;
    height: calc(100vh - 120px); /* Altura total menos o menu superior e a navbar */
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0;
    width: 100%;
    height: calc(100vh - 120px); /* Espaço entre a barra superior e a navbar */
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.grid-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6200ea;
    border-radius: 0;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
}

.icon-button {
    background: none;
    border: none;
    color: white;
    font-size: 68px;
    cursor: pointer;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.icon-button span.material-icons {
    font-size: 68px;
    line-height: 68px;
    width: 68px;
    height: 68px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #6200ea;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar a {
    color: white;
    font-size: 28px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.navbar a:hover {
    opacity: 0.7;
}

#floating-button {
    position: fixed;
    bottom: 50px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #5600d4; /* Lilás 10% mais escuro */
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1002;
    transition: background-color 0.3s, transform 0.3s; /* Adiciona transição para rotação */
}

#floating-button:hover {
    background-color: #4d00b0; /* Um tom mais escuro ao hover */
}

#floating-button .material-icons {
    font-size: 36px;
    transition: transform 0.3s; /* Adiciona transição para rotação */
}

.floating-options {
    position: absolute;
    bottom: 240px;
    left: calc(50% - 20px);
    transform: translateX(-50%);
    display: none;
    width: 180px;
    height: 180px;
    pointer-events: none;
}

.floating-option {
    position: absolute;
    background-color: #5600d4; /* Lilás 10% mais escuro */
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    pointer-events: auto;
}

.floating-option:hover {
    background-color: #4d00b0; /* Um tom mais escuro ao hover */
}

.floating-option .material-icons {
    font-size: 24px;
}

/* Distribuindo os círculos em um semicírculo ao redor do botão flutuante */
.floating-options .floating-option:nth-child(1) {
    left: 0;
    bottom: -190px;
}

.floating-options .floating-option:nth-child(2) {
    left: 30px;
    bottom: -150px;
}

.floating-options .floating-option:nth-child(3) {
    left: 60px;
    bottom: -120px;
}

.floating-options .floating-option:nth-child(4) {
    left: 120px;
    bottom: -120px;
}

.floating-options .floating-option:nth-child(5) {
    left: 150px;
    bottom: -150px;
}

.floating-options .floating-option:nth-child(6) {
    left: 180px;
    bottom: -190px;
}

#notification-container {
    position: relative;
    display: inline-block;
}

#notification-badge {
    position: absolute;
    top: 5px; /* Ajusta a posição vertical */
    left: 10px; /* Ajusta a posição horizontal */
    background-color: red;
    color: white;
    font-size: 8px; /* Tamanho de fonte reduzido para 50% */
    width: 12px; /* Reduz o tamanho do círculo */
    height: 12px; /* Reduz o tamanho do círculo */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    line-height: 1; /* Garante que o texto esteja centralizado */
}
